<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiliang.appsrv.dao.CustomerDAO">
  <resultMap id="BaseResultMap" type="com.ruiliang.appsrv.pojo.Customer">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="cid" jdbcType="VARCHAR" property="cId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="apikey" jdbcType="VARCHAR" property="apiKey" />
    <result column="mgr_qua" jdbcType="INTEGER" property="mgrQua" />
    <result column="ctime" jdbcType="DATE" property="cTime" />
  </resultMap>
  
  <!-- 根据cid查询客户 -->
  <select id="selectCustomerByCid" resultMap="BaseResultMap" parameterType="java.lang.String">
  		SELECT cid ,name ,apikey,mgr_qua,ctime FROM customer WHERE cid = #{cid}
  </select>
</mapper>