<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiliang.appsrv.dao.LocDAO">
  <resultMap id="BaseResultMap" type="com.ruiliang.appsrv.pojo.Loc">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uId" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="loc" jdbcType="VARCHAR" property="loc" />
    <result column="ctime" jdbcType="DATE" property="cTime" />
  </resultMap>
  
  <insert id="saveLoc" parameterType="com.ruiliang.appsrv.pojo.Loc">
  		INSERT INTO location (uid,time,loc,ctime)
  		VALUES (#{uId},#{time},#{loc},sysdate())
  </insert>
  
  <select id="selectLocByUid" resultMap="BaseResultMap">
  	select * from location where uid = #{uid} and time between #{start} and #{end}
  </select>
</mapper>