<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiliang.appsrv.dao.MsgLogDAO">
  <resultMap id="BaseResultMap" type="com.ruiliang.appsrv.pojo.MsgLog">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="ctime" jdbcType="DATE" property="cTime" />
  </resultMap>
</mapper>