<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiliang.appsrv.dao.PimDAO">
  <resultMap id="BaseResultMap" type="com.ruiliang.appsrv.pojo.Pim">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uId" />
    <result column="pim" jdbcType="VARCHAR" property="pim" />
    <result column="ctime" jdbcType="DATE" property="cTime" />
  </resultMap>
  
  <!-- 保存通讯录 -->
  <insert id="savePim" parameterType="com.ruiliang.appsrv.pojo.Pim">
  		INSERT INTO pim (uid,pim,ctime) VALUES (#{uId},#{pim},sysdate())
  </insert>
  
  <select id="selectPimByUid" resultMap="BaseResultMap">
  select * from pim where uid = #{uid}
  </select>
</mapper>