<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiliang.appsrv.dao.SmsDAO">
  <resultMap id="BaseResultMap" type="com.ruiliang.appsrv.pojo.Sms">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uId" />
    <result column="lastsmstime" jdbcType="BIGINT" property="lastSmsTime" />
    <result column="sms" jdbcType="VARCHAR" property="sms" />
    <result column="ctime" jdbcType="DATE" property="cTime" />
  </resultMap>
  
  
  <!-- 保存短信 -->
  <insert id="saveSms" parameterType="com.ruiliang.appsrv.pojo.Sms">	
  	INSERT INTO sms(uid,lastsmstime,sms,ctime) VALUES (#{uId},#{lastSmsTime},#{sms},sysdate())
  </insert>
  
  <select id="selectSmsByUid" resultMap="BaseResultMap">
  	select * from sms where uid = #{uid} and lastsmstime &lt; #{time}
  </select>
</mapper>