<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiliang.appsrv.dao.UserInfoDAO">
	<resultMap id="BaseResultMap" type="com.ruiliang.appsrv.pojo.UserInfo">
		<result column="id" property="id" />
		<result column="uid" property="uId" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="idcard" property="idCard" />
		<result column="mobile" property="mobile" />
		<result column="gender" property="gender" />
		<result column="email" property="email" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="avatar" property="avatar" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="creator" property="creator" />
		<result column="ctime" property="cTime" />
		<result column="login_times" property="loginTimes" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="cid" property="cid" />
		<result column="up_time_calllog" property="upTimeCalllog" />
		<result column="up_time_sms" property="upTimeSms" />
		<result column="up_time_pim" property="upTimePim" />
	</resultMap>


	<!-- 根据姓名查询用户 -->
	<select id="selectByNameAndPassword" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from user_info
		where name = #{name} and password = #{password}
		limit 1
	</select>

	<select id="selectByUserid" parameterType="java.lang.String" resultType="Integer">
		select
		count(0) from user_info where uid = #{uid}
	</select>

	<select id="selectByMobile" parameterType="String" resultMap="BaseResultMap">
		select * from
		user_info where mobile = #{mobile}
	</select>

	<select id="selectByIdcard" parameterType="String" resultMap="BaseResultMap">
		select * from
		user_info where idcard = #{idcard}
	</select>

	<insert id="insert" parameterType="com.ruiliang.appsrv.pojo.UserInfo">
		insert into user_info (uid, password, name,
		idcard, mobile, gender, email, area, address, avatar, creator, type, status, ctime, cid)
		values (#{uId}, #{password}, #{name}, #{idCard}, #{mobile}, #{gender}, #{email},
		#{area}, #{address}, #{avatar}, #{creator}, #{type}, #{status}, #{cTime}, #{cid})
	</insert>

	<update id="updateLoginTimes" parameterType="String">
		update user_info set last_login_time =
		now(), login_times = login_times + 1 where uid = #{uid}
	</update>

	<update id="updateUserAvatar">
		update user_info set avatar = #{avatar}
		where uid = #{uid}
	</update>
</mapper>
