<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiliang.appsrv.dao.UserTokenDAO">
  <resultMap id="BaseResultMap" type="com.ruiliang.appsrv.pojo.UserToken">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="customerid" jdbcType="VARCHAR" property="customerId" />
    <result column="timeout" jdbcType="INTEGER" property="timeOut" />
    <result column="ctime" jdbcType="DATE" property="cTime" />
  </resultMap>
</mapper>