<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiliang.appsrv.dao.VersionDAO">
  <resultMap id="BaseResultMap" type="com.ruiliang.appsrv.pojo.Version">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="platform" jdbcType="TINYINT" property="platForm" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="downurl" jdbcType="VARCHAR" property="downUrl" />
    <result column="updateinfo" jdbcType="VARCHAR" property="updateInfo" />
    <result column="ctime" jdbcType="DATE" property="cTime" />
    <result column="forceflag" jdbcType="TINYINT" property="forceflag" />
  </resultMap>
  
  <!-- 根据版本号查询 -->
  <select id="selectVersion" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT platform,code,info,downurl,updateinfo,forceflag,ctime FROM version WHERE code 
  	IN (SELECT max(code) FROM version ) ORDER BY ctime desc limit 1
  </select>
</mapper>